In [4]:
using CSV
using DataFrames

df = CSV.read("customer_master.csv", DataFrame)
first(df, 5)

5×9 DataFrame
 Row │ customer_id  customer_name  registration_date    customer_name_kana  em ⋯
     │ String15     String31       String31             String              St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ IK152942     平田 裕次郎    2019-01-01 00:25:33  ひらた ゆうじろう   hi ⋯
   2 │ TS808488     田村 詩織      2019-01-01 01:13:45  たむら しおり       ta
   3 │ AS834628     久野 由樹      2019-01-01 02:00:14  ひさの ゆき         hi
   4 │ AS345469     鶴岡 薫        2019-01-01 04:48:22  つるおか かおる     ts
   5 │ GD892565     大内 高史      2019-01-01 04:54:51  おおうち たかし     oo ⋯
                                                               5 columns omitted